<%- include('includes/header'); %>
    <h2>Dokument</h2>
    <form method="POST" action="/update" class="new-doc">
        <label for="title">Titel</label>
        <input type="text" name="title" value="<%= doc.title %>" />

        <label for="content">Innehåll</label>
        <textarea name="content"><%= doc.content %></textarea>

        <input type="hidden" name="rowid" value=<%= doc.rowid %>/>
        <input type="hidden" name="timestamp" value=<%= doc.created_at%>/>

        <p><strong>Skapad</strong> <%= doc.created_at %></p>

        <input type="submit" value="Uppdatera" />
    </form>
<%- include('includes/footer'); %>
